{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <p class="lead">Welcome to 2048'er.</p>
  <p class="lead">A competitive programming website where you can battle on the game 2048 using python.</p>
  <p >Download this <a target="_blank" href="{% static 'sample/boilerplate.py' %}">boilerplate.py</a> code to get started quickly.</p>
  <h2>
    Problem Description
  </h2>
  <p>
    Write a code that accepts a 4x4 grid as an input and plays the 2048 game.
  </p>
  <p>
    The game is played by moving the tiles around the grid.
  <h2>
    Input
  </h2>
  <p>
    The new state of the board after each move.
    one round is four lines of input
    each line has four numbers separated by a space
    <br> example <br>  
        0 0 4 0 <br>
        2 0 0 4 <br>
        2 2 2 2 <br>
        1024 0 0 4 <br>
  </p>
  <h2>
    Output
  </h2>
  <p>
    A number from 0 - 3 represent the direction to move the grid. 
    0 - left
    1 - up
    2 - right
    3 - down
  </p>

  The game will accept your input until EOF is reached or 1000 states have passed,  which ever one comes first.
  The score is calculated by using the following snippet:
  <hr>
  <div class="text-left">
    <code>
      score = 0 <br>
      for row in BOARD: <br>
      &nbsp;&nbsp;&nbsp;&nbsp; for col in row: <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; score += col * log2(col)
    </code>
  </div>
    

  <br>
  <br>
  <br>
  <hr>
  <br>
  <br>
  <br>
    <ul>

      <h5>Todo: </h5>
      <li>- Have a proper problem description</li> 
      <li>- Improve submissions tracking</li>
      <li>- Add a graphical 2048 board to see how well the submission's performed</li>
       <!-- <li> MAKE HACK PROOF :)  </li> --> 
      <li>... and much more</li>
    </ul>
      

</div>
{% endblock content %}
