{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Leaderboards{% endblock %}

{% block content %}
<h2>Leaderboard</h2>
List of top ranking submission using seed 0
<ol>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User</th>
                <th scope="col">Score</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{obj.user.username}}</td>
                <td>{{obj.score}}</td>
                <td>{{obj.time}}</td>
                <td><a href="{% url 'submission_detail' obj.pk %}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</ol>
{% endblock content %}